{% extends 'WynajemBlogBundle::base.html.twig' %}
{% set hideSidebar = true %}
{% block pageTitle %} Regulamin {{ parent() }} {% endblock %}

{% block content %}

    <div role="main" class="main">

        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Regulamin</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <hr class="tall">
            <div class="row">
                <div class="col-md-8">
                    <h3><strong>Regulamin</strong></h3>
                    <p>
                    <ul>
                        <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,
                            ultricies in, diam. Sed arcu. Cras consequat.
                        </li>
                        <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                            eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
                            facilisis luctus, metus.
                        </li>
                        <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate
                            sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                        </li>
                        <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum
                            vulputate, nunc.
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="featured-box featured-box-secundary">
                        <div class="box-content ">
                            <h4></h4>
                            <img class="img-responsive text-center"
                                 src="{{ asset('bundles/wynajemblog/img/judge.svg') }}">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="tall">
        </div>
    </div>

{% endblock %}