<ul class="list-unstyled push-top">
    <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Kowala Pierwsza, 24-320 Poniatowa</li>
    <li><i class="fa fa-phone"></i> <strong>Telefon:</strong> (123) 456-7890</li>
    <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a>
    </li>
</ul>
<hr/>
<h4>Godziny <strong>otwarcia</strong></h4>
<ul class="list-unstyled">
    <li><i class="fa fa-time"></i> Poniedziałek - Piątek: 8.00 - 16.00</li>
    <li><i class="fa fa-time"></i> Sobota: 9.00 - 15.00</li>
    <li><i class="fa fa-time"></i> Niedziela - zamknięte</li>
</ul>

