<h4>Najczęściej komentowane</h4>
<ul class="nav nav-list primary push-bottom">
    {% for post in postsList %}
        <li>
            <a href="{{ path('blog_post', {'slug': post['slug']}) }}">
                {{ '%s (%d)'|format(post['title'], post['commentsCount']) }}
            </a>
        </li>
    {% endfor %}
</ul>